<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="headingfood">
    <ion-icon slot="start" name="arrow-back-circle"></ion-icon>
    <!-- <div class="deliver-manimage">
     <ion-img src="../../assets/App-logo.png"></ion-img> 
    </div> -->
    <div class="toptext">
      <h1>Add Address</h1>
    </div>

  </div>

  <div class="eventform">
    <ion-item>
      <ion-label position="stacked">Tags</ion-label>
      <ion-select >
        <ion-select-option value="apples">Home</ion-select-option>
        <ion-select-option value="oranges">Office</ion-select-option>
        <ion-select-option value="bananas">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Address </ion-label>
      <ion-textarea ></ion-textarea>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Pincode</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Landmark</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mobile</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    
     <div class="bodertop-btn">
    <ion-button>Add</ion-button>
  </div>
  </div>


</ion-content>