<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="headingfood">
    <ion-icon slot="start" name="arrow-back-circle"></ion-icon>
    <!-- <div class="deliver-manimage">
     <ion-img src="../../assets/App-logo.png"></ion-img> 
    </div> -->
    <div class="toptext">
      <h1>Orders</h1>
    </div>

  </div>
 
<div class="orders-list">
  <ion-item detail="true">
      <ion-label>
        <p>Apr 29, 2021 12:32PM</p>
        <h3>#ORD006547</h3>
        <p>6 Items $117</p>
      </ion-label>
      <ion-label slot="end">Ordered</ion-label>
  </ion-item>
  <ion-item detail="true">
    <ion-label>
      <p>Apr 29, 2021 12:32PM</p>
      <h3>#ORD006337</h3>
      <p>3 Items $117</p>
    </ion-label>
    <ion-label slot="end">Ordered</ion-label>
</ion-item>
<ion-item detail="true">
  <ion-label>
    <p>Apr 30, 2021 10:32PM</p>
    <h3>#ORD006547</h3>
    <p>6 Items $117</p>
  </ion-label>
  <ion-label slot="end">Ordered</ion-label>
</ion-item>
  
</div>

</ion-content>