<ion-content [fullscreen]="true" class="ion-padding">
  <div class="mind-content">
    <div class="logo-with-text">
      <ion-img src="../../assets/App-logo.png"></ion-img>
      <h1>Login</h1>
      <p>stiriling arms restaurent</p>
    </div>
  </div>

  <div class="login-form">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <p>Forgot Password</p>
    <ion-button color="" expand="block">Login</ion-button>
  </div>
  <div class="orcnnect">
    <ion-img src="../../assets/line.png"></ion-img>
    <p>OR CONNECT WITH US</p>
    <ion-img src="../../assets/line.png"></ion-img>

  </div>
  <div class="social">
    <ion-button>
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-button>

  </div>

<div class="botmtext">
<p>Create New Account</p>


</div>


</ion-content>