<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row>
  <ion-col size="12">
    <div class="arrow-top">
      <ion-icon name="arrow-back-circle">   </ion-icon>
    </div>
  </ion-col>
</ion-row>
  <div class="mind-content">
    <div class="logo-with-text">
      <ion-img src="../../assets/App-logo.png"></ion-img>
      <h1>Verification</h1>
      <p>verify your account with 4 digit number</p>
    </div>
  </div>

  <div class="login-form">
    <ion-item>
      <ion-label position="stacked">OTP</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label position="stacked">Mobile</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-button  expand="block"> login</ion-button>
  </div>


<div class="botmtext">
<p>Create Account <span>Signup</span> </p>
</div>
</ion-content>