<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row>
  <ion-col size="12">
    <div class="arrow-top">
      <ion-icon name="arrow-back-circle">   </ion-icon>
    </div>
  </ion-col>
</ion-row>
  <div class="mind-content">
    <div class="logo-with-text">
      <ion-img src="../../assets/App-logo.png"></ion-img>
      <h1>Forgot Password</h1>
    </div>
  </div>

  <div class="login-form">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
   

    <ion-button color="" expand="block">Reset Password</ion-button>
  </div>

</ion-content>