<ion-content [fullscreen]="true" class="ion-padding">
  <div class="headingfood-payment">
    <ion-icon name="arrow-back-circle"></ion-icon>
    <h2>Payment</h2>
    <ion-img src="../../assets/cashless-payment.png"></ion-img>
  </div>
<div class="payment-bg">
  <h2>Select Payment Gateway</h2>
  <ion-list>
    <ion-radio-group value="payment">
      <ion-item>
        <ion-label>Payment Method 1</ion-label>
        <ion-radio  id="open-modal" expand="block"slot="end" value=""></ion-radio>
      </ion-item>
      </ion-radio-group>
      <ion-radio-group value="payment">
        <ion-item>
          <ion-label>Payment Method 2</ion-label>
          <ion-radio slot="end" value=""></ion-radio>
        </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>

    <div class="btnbtm">
      <ion-button>Pay Now</ion-button>
    </div>

      <!-- model -->

  <div class="model-section">
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-toolbar>
          
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">X</ion-button>
          </ion-buttons>

        </ion-toolbar>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <h2>Order Placed Successfully</h2>
        

      </ng-template>
    </ion-modal>

  </div>

</ion-content>