<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="headingfood">
    <ion-icon slot="start" name="arrow-back-circle"></ion-icon>
    <div class="toptext">
      <h1>Profile</h1>
    </div>
  </div>


 <div class="Profileimg">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </div>

  <div class="eventform"> 
    <ion-item>
      <ion-label position="stacked"> NAME</ion-label>
      <ion-input>John Doe</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">EMAIL</ion-label>
      <ion-input>JohnDoe@gmail.com</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">MOBILE</ion-label>
      <ion-input>9876543210</ion-input>
    </ion-item>
       <ion-item>
      <ion-label position="stacked">GENDER</ion-label>
      <ion-select>
        <ion-select-option value="apples">Male</ion-select-option>
        <ion-select-option value="oranges">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">DATE OF BIRTH</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> ANNIVERSARY</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>
     <div class="bodertop-btn">
    <ion-button>SAVE</ion-button>
  </div>
  </div>


</ion-content>