<ion-content [fullscreen]="true" class="ion-padding">
  <div class="headingfood">
    <div class="toptext">
      <h1>Delicious Food</h1>
      <p>Ready to delivered for you </p>
    </div>
    <div class="deliver-manimage">
      <ion-img src="../../assets/dman.png"></ion-img>
    </div>
  </div>
  <ion-item >
    <ion-segment value="buttons" >
      <ion-segment-button value="delivery">
        <ion-label>Delivery</ion-label>
      </ion-segment-button>
      <ion-segment-button value="takeaway">
        <ion-label>TakeAway</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dinein">
        <ion-label>Dinein</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reservtion">
        <ion-label>Reservation</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-icon name="calendar-outline"></ion-icon>

  </ion-item>


  <div class="simple-slide">

    <ion-slides>
      <ion-slide>
        <div class="slide-cnt">
          <ion-img src="../../assets/img4.png"></ion-img>
        </div>
        <div class="slide-cnt">
          <ion-img src="../../assets/img2.png"></ion-img>

        </div>
        <div class="slide-cnt">
          <ion-img src="../../assets/img4.png"></ion-img>
        </div>

        <div class="slide-cnt">
          <ion-img src="../../assets/img2.png"></ion-img>

        </div>

      </ion-slide>
    </ion-slides>
  </div>

  <div class=" latest-search">
    <div class="sliders-ls">
      <h2>Categories</h2>
      <ion-slides>
        <ion-slide>
          <div class="slide-cnt" *ngFor="let item of itemsfoods">
            <ion-img src="{{item.slideimage}}"></ion-img>
            <ion-card-title>{{item.foodname}} </ion-card-title>
          </div>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="menu-section">
    <h2>Menu</h2>

    <ion-list >
      <div class="boder-botam" *ngFor="let item of items">
        <ion-item lines="inset" >
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label><h3>{{item.name}}</h3>
            <h6>{{item.price}}</h6>
            <h5>{{item.description}}</h5>
          </ion-label>
          <ion-thumbnail slot="end">
            <img alt="img2" src="{{item.thumnailimage}}" />
          </ion-thumbnail>
          <ion-button size="small" slot="end">ADD</ion-button>
        </ion-item>
      </div>
    </ion-list>

  </div>
</ion-content>