<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
  <ion-segment value="buttons">
    <ion-segment-button value="default">
      <ion-label>Delivery</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>TakeAway</ion-label>
    </ion-segment-button>
    <ion-segment-button value="buttons">
      <ion-label>Dinein</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Reservation</ion-label>
    </ion-segment-button>
  </ion-segment>

    <ion-icon name="calendar-sharp"></ion-icon>

</ion-item> 

  
<div class="sliders-ls">

  <ion-slides>
      <ion-slide>
        <div class="slide-cnt">
      <ion-img src="../../assets/veg2-.png" ></ion-img>
      
        </div>
          <div class="slide-cnt">
      <ion-img src="../../assets/veg2-.png" ></ion-img>
    
        </div>
        <div class="slide-cnt">
          <ion-img src="../../assets/veg2-.png" ></ion-img>
           
            </div>
      </ion-slide>
  </ion-slides>
</div>

<div class=" latest-search">
  <div class="sliders-ls">
    <h2>Categories</h2>
    <ion-slides>
        <ion-slide>
          <ion-item>
            <ion-img src="../../assets/veg2-.png" ></ion-img>
            <ion-card-title>SALADS</ion-card-title>
          </ion-item>
            <ion-item>
            <ion-img src="../../assets/veg2-.png" ></ion-img>
            <ion-card-title>SALADS</ion-card-title>
          </ion-item>
         
            <div class="slide-cnt">
              <ion-img src="../../assets/veg2-.png" ></ion-img>
          <ion-card-title>SIDES </ion-card-title>
          </div>
          <div class="slide-cnt">
            <ion-img src="../../assets/veg2-.png" ></ion-img>
              <ion-card-title>PIZZAS</ion-card-title>
              </div>
              <div class="slide-cnt">
                <ion-img src="../../assets/veg2-.png" ></ion-img>
                  <ion-card-title>BURGERS</ion-card-title>
                  </div>
                  <div class="slide-cnt">
                    <ion-img src="../../assets/veg2-.png" ></ion-img>
                      <ion-card-title>DIMATINA</ion-card-title>
                      </div>
                      <div class="slide-cnt">
                        <ion-img src="../../assets/veg2-.png" ></ion-img>
                          <ion-card-title>DESSERTS </ion-card-title>
                          </div>
        </ion-slide>
    </ion-slides>
  </div>
</div>


  </ion-content>