ion-content {
    --background: var(--ion-color-screenbg);

.headingfood-cart {
    background: var(--ion-color-light-tint);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    ion-img {
        height: 70px;
    }

    ion-icon {
        width: 30px;
        height: 30px;

    }

    h2 {
        font-size: 18px;
    }

    span {
        color: #1c100c;
        padding: 5px;
        font-weight: 700;
        border: 1px solid #000000;
        box-shadow: 2px 2px 0px 1px #1c0801;
    }


}

.address-section {
    background: #fff;
    margin-top: 20px;
    border-radius: 12px;
    padding: 10px;


    ion-list {
        padding-top: 20px;
        padding-bottom: 20px;

        ion-label {
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
        }
    }

    ion-item {
        --padding-start: 0px;
        --padding-end: 0px;

        span {
            font-size: 13px;
            font-weight: 400;
        }

    }
}
}