<ion-content [fullscreen]="true" class="ion-padding">
  <div class="headingfood-cart">
    <ion-icon name="arrow-back-circle"></ion-icon>
    <h2>Manage Address</h2>
    <span>Add</span>
  </div>

  <div class="address-section">
    <ion-list>
      <ion-label>Home</ion-label>
      <ion-item>
        <span>355 Scarborough Beach Rd, Osborne Park
          WA 6017, Australia</span>
        <ion-icon slot="end" name="create-sharp"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-label> Office</ion-label>
      <ion-item>
        <span>355 Scarborough Beach Rd, Osborne Park
          WA 6017, Australia</span>
        <ion-icon slot="end" name="create-sharp">
          355 Scarborough Beach Rd, Osborne Park
          WA 6017, Australia
        </ion-icon>
      </ion-item>
    </ion-list>
  </div>

</ion-content>